<!-- Intro Section -->
    <section class="success" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Vilka vi är</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Wiilves AB startades 2016, affärsidéen är att erbjuda högkvalitativa konsulttjänster inom IT som omvandlar teknisk kreativitet och uppfinningsrikedom till lösningar som har ett reellt värde för kunden.
                    <br><br>

Vår drivkraft kommer från intresset för kundens verksamhet, om vi verkligen förstår verksamheten då kan vi leverera lösningar med hög affärsnytta.<br><br>

Det är både utmanande och fascinerande att hänga med i den snabba tekniska utvecklingen och marknadens snabba förändringar sätter kundernas verksamhet på prov.<br><br>

Vi ser det som en källa till inspiration att kunna hjälpa kunden med;<br><br>

Effektiv kommunikation på webben och i sociala kanaler med design som speglar ditt formspråk och verksamhet med hjälp av layout, typografi, bildspråk och färglära.</p>
                </div>
                <div class="col-lg-4">
                    <p>Gränssnittsdesign som engagerar användaren med förståelse för användarupplevelse och interaktionen.<br><br>

Professionell utveckling med fokus på modern webbutveckling med inriktning på responsiv webb och mobila plattformar som är sökmotoroptimerade.<br><br>


Vi behärskar ett brett spektrum av kunskaper för att skapa moderna IT lösningar.
Visuella delen av kodningen (front-end) som besökarna ser på en webbplats, såväl som den bakomliggande funktionaliteten som krävs för att skapa admin-miljöer för hemsidor och webbutiker (back-end), med databaser och REST API ‘er.<br><br>

Vi förespråkar att bygga med open-source verktyg och gärna med molnteknologier som t ex Azure och AWS.<br><br>

Vi tar ett stort personligt ansvar i kompetensutveckling och kundleverans, då
vi vet att höga ambitioner och hårt arbete är det som skapar framgång och resultat.
</p>
                </div>
            </div>
        </div>
    </section>






